/* Name: Michael Zonneveld
Studentnumber: 11302984
Date:      06/05/2018 */

body {
  font-family: avenir;
}

p {
  font-size: 20px;
}

header {
  font-family: avenir;
  font-weight: bold;
  color: rgb(0, 100, 50);
  font-size:  200%;
}

.textClass {
    font-family: avenir;
    font-size: 14px;
}

/* values are shown in box */
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgb(252, 243, 0);
  color: rgb(0, 0, 0);
  border-radius: 1px;
}
