header {
  font-family: avenir;
  font-weight: bold;
}

.info {
  font-family: avenir;
}

.legochart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
}
