header {
  font-family: avenir;
  font-weight: bold;
}

body {
  font-family: avenir;
}

.legochart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: steelblue;
    margin-right: 2px;
}

rect {
    display: inline-block;
    background-color: steelblue;
    margin-right: 2px;
}
