.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: avenir;
    font-size: 13px;
}

body {
  font-family: avenir;
}

header {
  font-family: avenir;
  font-weight: bold;
}

.textClass {
    font-family: avenir;
    font-size: 12px;
    font-weight: bold;
}

/* .legochart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
} */

/* div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: red;
    margin-right: 2px;
} */




/* ("font-family", "avenir")
// .attr("font-size", "11px")
// .attr("fill", "black")
// .attr("font-weight", "bold"); */
